$backgroundColor :white;

body {
    background: $backgroundColor;
    margin: 0%;

}


.HeaderStaticInfo{
     background-color: #3a3a3a;
     margin-bottom: 0%;
     font-size: 12px;
     font-family: Arial, Helvetica, sans-serif,Lucida, 'Open Sans';
     transition: background-color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
     vertical-align: baseline;
     font-weight: bold;
     color: white;
     font-style: normal;
     position: relative;
     box-sizing: border-box;
}

.HeaderStaticInfo1{
    position: relative;
    text-align: left;
    width: 80%;
    max-width: 1080px;
    padding-top: 0.75em;
    line-height: 1em;
    font-weight: 600;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background: transparent;
    font-size: 100%;
    box-sizing: border-box;
    display: block;
}

.HeaderStaticInfo2{

  
   
   
   
   
    
}
